.btn-blue {
	background-color: rgba(189, 189, 189, 0.7);
	padding: 15px 20px;
	border-radius: 4px;
	color: whitesmoke;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	margin: 20px;
	text-align: center;
}

.btn-blue:hover {
	background-color: rgba(199, 199, 199, 0.9);
	color: whitesmoke;
}

.btn-green {
	background-color: rgba(246, 246, 246, 0.7);
	padding: 12px 20px;
	border-radius: 3px;
	color: #312c28;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-green:hover {
	background-color: #48443f;
	color: whitesmoke;
}